.register_content{ 
    padding: 5px;
    margin:auto;
    height: 740px;
    width: 600px;
    background-color:twhitesmoke;
}

.h2{
    color: black;
    font-size: 30px;
    margin: 0 ;
    margin-bottom: 10px;
}
.register_back{
    width: 100%;
    height: 1000px;
    display: flex;
    background-color:whitesmoke;
    background-image: url('../../assets/images/bg.jpg');
    background-size: cover;
}

.register-button {
    width: 100%;
  }